* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/* -------Navbar------------- */

.Navbar {
    background-color: #fff;
    padding-block: 1rem;
    font-size: .8em;
}

.Navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.Navbar .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.Navbar .nav-link {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
.Navbar .nav-link:hover {
    color: #e0183a;
}


.Navbar .nav-link-grey {
    color: #b4b4b4;
    text-transform: capitalize;
}



/* -------Footer------------- */

.Footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #333;
    padding: 1.7rem;
    font-size: .8em;
    color: #dbdbdb;
    display: grid;
    place-items: center;
}
